{% extends "base.html" %}
    {% block start %}

    <div class="container" style="margin-top: 2rem;">

    <form class="col-6 mx-auto card p-3 shadow-lg" style="max-width: 30%;" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add recipe</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Recipe's Name</label>
          <input type="text" required name="recipe_name" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Recipe's Description</label>
          <input type="text" required name="recipe_description" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe's Image</label>
            <input type="file" required name="recipe_image" class="form-control">
          </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <hr>
     <form>
      <div class="mt-5">
        <div class="mx-auto col-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search Food</label>
            <input type="text" name="search" value="{{recipe.recipe_name}}" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
    <table class="table table-bordered mt-5">
      <thead>
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">Recipe's Name</th>
          <th scope="col">Recipe's Description</th>
          <th scope="col">Respie's Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in recipes %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{recipe.recipe_name}}</td>
          <td>{{recipe.recipe_description}}</td>
          <td>
            <img src="/media/r_image/" style="height : 100px; width : 100px;"></td>
          <td>
            <a href="/delete_recipe/{{recipe.id}}" class="btn btn-danger m-2">Delete</a>
            <a href="/update_recipe/{{recipe.id}}" class="btn btn-success">Update</a>
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

    {% endblock %}